<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <!-- fontawesome -->
  <script src="https://use.fontawesome.com/3db7fc1628.js"></script>
  <!-- google font -->
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
  {% seo %}
</head>

<body>
  <div class="container">
    <header>
      <h1>Volodymyr Shcherbyna</h1>
      <p class="title">Principal/Lead/Full-Stack Software Engineer</p>
      <p class="contact">Phone: +38 (067) 736 05 99 | Email: <a
          href="mailto:vns.scherbina@gmail.com">vns.scherbina@gmail.com</a></p>
      <nav>
        <a href="index.html">Home</a> |
        <a href="resume.html">Resume</a> |
        <a href="blog.html">Blog</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; 2024 Volodymyr Shcherbyna</p>
    </footer>
  </div>
</body>

</html>